*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-image: url(./images/Banner\ Image.png);
    background-position:center;
    background-size: cover;
    height: 480px;
    margin: 20px 40px 0px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 10px;
    font-family: "Merriweather", serif;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 480px;
    color: #fff;
}
.banner-content h4{
    font-size: 30px;
}
.banner-content h2{
    font-size: 60px;
    font-weight: 900;
}

/* Banner section end */






/* Discount section start */
.discount{
    margin:60px 50px 0px 50px;
    text-align: center;
    align-items: center;
}
.discount-text h2{
    font-size: 50px;
    color: red;
    padding-bottom: 20px;
    font-weight: bold;
}
.discount-text p{
    font-size: 16px;
    color: red;
    padding-bottom: 5px;
}
.discount-text h3{
    padding-bottom: 30px;
    font-size: 30px;
    color: #070211;
}
.discount-picture img{
    width: 500px;
    height: 400px;
}





/* Night-party-section start */
.night-party{
    display: flex;
    justify-content: space-between;
    margin: 100px 40px 0px 40px;
    background-image: url(./images/Vectorrr.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 450px;
    padding: 40px 50px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 10px;
    gap: 20px;
    font-family: "Merriweather", serif;
}
.party-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 20px; */
}
.party-text h2{
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px 0px;
}
.party-text p{
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 20px;
}
.party-text h4{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
.party-img img{
    width: 300px;
    height: 390px;
}






/* Place secton start */
.place-section{
    margin: 100px 40px 0px 40px;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 50px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%); 
    align-items: center; 
    text-align: center; 
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
}
 .place h3{
    padding-top: 10px;
 }  
.place-section span{
    color: red;
    font-weight: 600;
}







/* Offer section strat */
  .best-offer{
    margin: 60px 40px 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:350px;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  .part1 .new{
    color: red;
    font-weight: 500;
    font-size: 13px;
    font-family: "Inter", sans-serif;
  }
  .part1 h3{
    padding-top: 10px;
    font-size: 25px;
    font-weight: 900;

  }
  .part1 p{
    color: #07021199;
    line-height: 20px;
    width: 300px;
  }
  .part2{
    width: 340px;
    height: 270px;
    border: 6px solid red;
    border-radius: 50%;
    padding: 15px;
  }
  .part2 img{
    width: 100%;
    height: 100%;
  }
  .part3 {
    padding-left: 80px;
  }
  .part3 h2{
    color: red;
    font-size: 35px;
    font-weight: 900;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .part3 p{
    color: #07021199;

}
.part3 img{
    margin-top: 20px;
    width: 80px;
    height: 80px;
    background: linear-gradient(180.00deg, rgb(248, 246, 251) 12.887%,rgb(239, 220, 251) 175.654%);
}







/* Holiady section start */

.holiday{
    margin: 60px 40px 20px 40px;
    height: 850px; 
    position: relative; 
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%); 
    border-radius: 10px;
}
.heading-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
.heading-section h5{
    color: rgb(7, 2, 17);
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
}
.heading-section h2{
    font-family: "Merriweather", serif;
    font-size: 35px;
    font-weight: 700;
}
.heading-section h2 span{
    color: red;
}
.heading-section p{
    color: rgba(7, 2, 17, 0.6);
    width: 500px;
    margin-top: 10px;
    line-height: 20px;
}
.solid-color{
    width: 100%;
    height: 180px;
    background: red;
    position: absolute;
    top: 79%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.gift-boxes{
    display: flex;
    justify-content: space-between;
}
.gift-box1 img{
    margin-top: 120px;
    height: 500px;
    width: 600px;
    position: relative;
    z-index: 1;
}
.gift-box2 img{
    margin-top: 80px;
}





/* Gallary section start */

.gallary{
    margin: 100px 40px 30px 40px;
}
.gallary .gallary-text h4{
    font-size: 13px;
    font-weight: bold;
    color: red;
    font-family: "Inter", sans-serif;
}
.gallary .gallary-text h2{
    font-size: 30px;
    font-weight: bold;
    font-family: "Merriweather", serif;
}
.gallary .gallary-text p{
    font-family: "Inter", sans-serif;
    color: #070211;
    padding-bottom: 40px;
}
.gallary-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.item img{
    width: 300px;
    height: 300px;

}


    


/* Subscribe section start */
.subscribe{
    margin: 100px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe h1{
    padding: 15px;
    font-family: "Merriweather", serif;
    font-size: 30px;
}
.subscribe p{
    width: 600px;
    color: rgba(7, 2, 17, 0.6);
    padding-bottom: 10px;
}
.subscribe img{
    width: 100px;
    height: 80px;
}
.subscribe input{
    width: 250px;
    padding: 15px 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    background-color: #fff;
    margin-top: 10px;
}
.subscribe button{
    padding: 15px 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color:red;
    border: none;
    color: #fff;
}

/* footer section start   */
.footer{
    margin-top: 50px;
    background-color: black;
    height: 400px;
}

.conanct{
    display: flex;
    color: #fff;
}
.fopoter-section1{
    display: flex;
    color: #fff;
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 50px;
   
}
.fopoter-section1 p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}
.fopoter-section1 i{
    font-size: 15px;
    line-height: 30px;
    padding-right: 10px;
}

.social-icon{
    width: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.social-icon img{
    width: 38px;
}
.hr{
    border-bottom:1px solid rgba(255, 255, 255, 0.15); ;
    width: 80%;
    margin: 0 auto;
}

.footer-end-section{
    color: #fff;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}